$light-background: hsl(0, 0%, 98%); //#FAFAFA
$light-elements: white;
$light-input: hsl(0, 0%, 52%); //#858585
$light-text: hsl(200, 15%, 8%); //#111517

$dark-background: hsl(207, 26%, 17%);
$dark-elements: hsl(209, 23%, 22%); //#2B3743
$dark-input: hsl(210, 36%, 22%); //#2B3743
$dark-text: white;

$font-family: 'Nunito Sans', sans-serif;